* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    width: 100px;
    height: 50px;
    background-image: url('amazon_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/* box2 */
.add-first {
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1.1rem;
    margin-left: 3px;
}
.nav-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border: none;
    justify-content: space-evenly;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px;
    font-size: 1rem;
}
.search-input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 1rem;
}
.search-icon {
    background-color: #ff9b18;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    color: black;
}

.search-icon:hover {
    background-color:#ffa824;
}
.nav-search:hover .search-input {
    border: 2px solid #ff9b18;
}
/* box4 */
.nav-account {
    display: flex;
    flex-direction: vertical;
    align-items: flex-start;
    margin-left: 10px;
}
/* box5 */
.sign-first {
    display: flex;
    flex-direction: vertical;
  font-size: small;
    font-weight: bold;
    margin-left: 10px;
}
.sign-second {
    display: flex;
    flex-direction: vertical;
    font-weight: bold;
    margin-left: 10px;
}
/* box6 */
.order-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 10px;
}
.order-second {
    font-size: 1rem;
    font-weight: bold;

    margin-left: 10px;
}
/* box7 */
.nav-orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.orders-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
    margin-left: 10px;
}
.cart-text {
    font-weight: bold;
    margin-right: 5px;
    display: flex;
}


